@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1>Her kommer Pelle & Mortens webshop</h1>
<h2>Jeg siger dig vi kommer til at tilbyde nogle lækre produkter - så glæd dig:)</h2>